{% extends "printer_schedule/base.html" %}

{% block pagecontent %}
<table class="table">
  <thead>
    <tr>
      <th>名稱</th>
      <th>急件</th>
      <th>gcode</th>
      <th>預計列印時間</th>
      <th>登錄時間</th>
      <th>開始時間</th>
      <th>登錄者</th>
      <th>啟動者</th>
      <th>動作</th>
    </tr>
  </thead>
  <tbody>
    {% for schedule in schedule_list %}
    <tr>
      <td>{{ schedule.purpose }}</td>
      <td>{{ schedule.important }}</td>
      <td>
        {% if schedule.gcode_file %}
        <a href="{% url 'printer_schedule:gcode-file' pk=schedule.pk fn=schedule.gcode_file.name %}">
          {{ schedule.gcode_file }}
        </a>
        {% endif %}
      </td>
      <td>{{ schedule.est_duration }}</td>
      <td>{{ schedule.time_created }}</td>
      <td>{{ schedule.time_started }}</td>
      <td>{{ schedule.submitter }}</td>
      <td>{{ schedule.started_by }}</td>
      <td>
        {% if not schedule.time_started %}
        {% if user == schedule.submitter %}
        <a class="btn btn-info" href="{% url 'printer_schedule:edit' pk=schedule.pk %}">編輯</a>
        {% endif %}
        <form method="POST" action="{% url 'printer_schedule:start' pk=schedule.pk %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit" onclick="return confirm('Are you sure you want to start {{ schedule.purpose }}?');">開始</button>
        </form>
        {% else %}
        <form method="POST" action="{% url 'printer_schedule:end' pk=schedule.pk %}">
          {% csrf_token %}
          <button class="btn btn-warning" type="submit" onclick="return confirm('Are you sure you want to stop {{ schedule.purpose }}?');">結束</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="9">沒有排程中的工作</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
