{% extends "base.html" %}
{% load static %}
{% load bs_filters %}

{% block mtitle %}Drive{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href={% static 'css/dropzone-basic.css' %}>
<link rel="stylesheet" type="text/css" href={% static 'css/dropzone-custom.css' %}>
<script src="{% static 'js/dropzone.min.js' %}"></script>
<script>
Dropzone.options.driveDropzone = {
  maxFilesize: 4096,
  createImageThumbnails: false,
  headers: {"Dropzone-Identifier": "driveDropzone"},
}
</script>
<style>
.button-cell {
  width: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
  <h2 class="page-header">Drive<small> beta</small></h2>
    <p>Usage: {{ usage|filesizeformat }}</p>
    <form role="form" action="." method="post" class="dropzone" id="driveDropzone" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="fallback">
        <div class="form-group">
          {{ form.file.label_tag }}
          {{ form.file.errors }}
          {{ form.file }}
        </div>
        <input type="submit" value="Upload" class="btn btn-default">
        <p></p>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <ol class="breadcrumb page-header">
      {% for obj in directory.abspath %}
      {% if forloop.last %}<li class="active">{{ obj.name }}{% else %}<li>{{ obj.as_link }}{% endif %}</li>
      {% endfor %}
    </ol>
    {% include "drive-listing.html" %}
  </div>
</div>
<div class="modal" id="modalMkdir" tabindex="-1" role="dialog" aria-labelledby="modalMkdirLabel" aria-hidden="true">
  <form method="post" action="{% url "drive-mkdir" patharg %}">
    {% csrf_token %}
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalMkdirLabel">Create Directory</h4>
        </div>
        <div class="modal-body">
          {{ mkdirform.name.label_tag }}{{ mkdirform.name|add_class:"form-control" }}
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-default">
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
