{% extends "base.html" %}
{% load bs_filters %}

{% block mtitle %}NTHU Courses{% endblock %}

{% block head %}
<style>
    .btn-group {
        width: 100%;
    }
    .tablebutton {
        width: 16%;
        max-width: 55px;
    }
    td, th {
        vertical-align: middle!important;
    }
    .fblock {
        margin-bottom: 15px;
    }
    .fblock>.checkbox.inline {
        display: inline-block;
        width: 80px;
    }
    .fblock>.radio.inline {
        display: inline-block;
        margin-right: 10px;
    }
    .fblock>label {
        display: block;
    }
</style>
{% endblock %}

{% block content %}
<h2 class="page-header">NTHU Courses<small> beta ({{ metadata.semester_hr }})</small></h2>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSearch">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseSearch" aria-expanded="{% if form.is_valid %}false{% else %}true{% endif %}" aria-controls="collapseSearch">搜尋條件</a>{% if form.errors %}<small> (無效)</small>{% endif %}
      </h4>
    </div>
    <div id="collapseSearch" class="panel-collapse collapse{% if not form.is_valid %} in{% endif %}" role="tabpanel" aria-labelledby="headingSearch">
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-md-4">
              {{ form.operation.label_tag }}
              {% for timetablerow in form.timetable %}
              <div>
                <div class="btn-group" data-toggle="buttons">
                  {% for timetablecell in timetablerow %}
                  <label class="btn btn-{% if forloop.parentloop.counter <= 5 %}success{% elif forloop.parentloop.counter <= 10 %}primary{% else %}warning{% endif %} tablebutton{% if timetablecell.choice_label in form.selected_time %} active{% endif %}">{{ timetablecell.tag|settagattr:"autocomplete=off" }}{{ timetablecell.choice_label }}</label>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <div class="fblock">
                {% for operation in form.operation %}
                <div class="radio">{{ operation }}</div>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-8">
              <div class="fblock">
                {{ form.department.label_tag }}
                {% for department in form.department %}
                <div class="checkbox inline">{{ department }}</div>
                {% endfor %}
              </div>
              <div class="fblock">
                {{ form.ordering.label_tag }}
                {% for ordering in form.ordering %}
                <div class="radio inline">
                {{ ordering }}
                </div>
                {% endfor %}
              </div>
              <input type="submit" class="btn btn-default">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingResult">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseResult" aria-expanded="{% if form.is_valid %}true{% else %}false{% endif %}" aria-controls="collapseResult">搜尋結果</a><small> ({{ courses.count|default:"沒有符合條件的搜尋結果" }})</small>
      </h4>
    </div>
    <div id="collapseResult" class="panel-collapse collapse{% if form.is_valid %} in{% endif %}" role="tabpanel" aria-labelledby="headingResult">
      <div class="panel-body">
        <p class="text-danger">注意：本站所列之課程資料僅供參考。<small class="text-muted"> 更新：{{ metadata.timestamp|date:"Y/m/d H:i:s O" }}</small></p>
        <table class="table table-striped small">
          <tr>
            <th>科號</th>
            <th>名稱</th>
            <th>Instructor</th>
            <th>時段</th>
            <th>人數</th>
            <th>教室</th>
            <th>學分</th>
            <th>備註</th>
          </tr>
          {% for course in courses %}
          <tr>
            <td class="text-nowrap">
              <a target="_blank" href="{% url 'nthucourses:syllabus' course.number %}">{{ course.number }}</a>
            </td>
            <td>{{ course.title_zh }}{% if course.title_geinfo %}<br><small class="text-warning">{{ course.getag }}</small>{% endif %}</td>
            <td>{{ course.instructor }}</td>
            <td>{{ course.time_string }}</td>
            <td class="text-nowrap">{{ course.enrollment }} / {{ course.size_limit|default:"?" }}</td>
            <td>{{ course.room }}</td>
            <td>{{ course.credit }}</td>
            <td style="width:30%;" class="pre-ws">{{ course.note }}</td>
          </tr>
          {% empty %}
          <tr><td colspan="8">沒有符合條件的搜尋結果。</td></tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
