{% extends "base.html" %}
{% load bs_filters %}

{% block mtitle %}NTHU Courses{% endblock %}

{% block head %}
<style>
    .tablebutton {
        width: 60px;
    }
</style>
{% endblock %}

{% block content %}
<h2 class="page-header">NTHU Courses</h2>
<form>
  <div class="form-group">
    {% for operation in form.operation %}
      {{ operation }}
    {% endfor %}
  </div>
  <div class="form-group">
    {% for timetablerow in form.timetable %}
    <div>
      <div class="btn-group" data-toggle="buttons">
        {% for timetablecell in timetablerow %}
        <label class="btn btn-{% if forloop.parentloop.counter <= 5 %}success{% elif forloop.parentloop.counter <= 10 %}primary{% else %}warning{% endif %} tablebutton{% if timetablecell.choice_label in form.selected_times %} active{% endif %}">{{ timetablecell.tag|settagattr:"autocomplete=off" }}{{ timetablecell.choice_label }}</label>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <input type="submit" class="btn btn-default">
</form>
<table class="table table-striped">
  <tr>
    <th>科號</th>
    <th>名稱</th>
    <th>Instructor</th>
    <th>時段</th>
    <th>學分</th>
    <th>備註</th>
  </tr>
  {% for course in courses %}
  <tr>
    <td>{{ course.no }}</td>
    <td>{{ course.title_zh }}</td>
    <td>{{ course.instructor }}</td>
    <td>{% for time in course.time %}{{ time }}{% endfor %}</td>
    <td>{{ course.credit }}</td>
    <td><small>{{ course.note }}</small></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
