{% extends "base.html" %}

{% block mtitle %}{{ course.number }}{% endblock %}

{% block content %}
<h2 class="page-header">{{ course.title_zh }}<small> {{ course.title_en }}</small></h2>
<p class="text-danger">注意：本站所列課程資料僅供參考之用。</p>
<p>{{ course.number }}<p>
<p>{{ course.instructor }} - {{ course.time_string|default:"未列時間" }} @ {{ course.room|default:"未列地點" }}<p>
<p>{{ course.enrollment }} / {{ course.size_limit|default:"??" }} 人, {{ course.credit }} 學分</p>
<h3>Syllabus</h3>
{% if course.has_attachment %}
<p><a href="{{ course.pdf_url }}" target="blank_">cached PDF attachment</p>
{% else %}
<pre>{{ course.outline }}</pre>
{% endif %}
{% endblock %}
