{% extends "base.html" %}
{% load bs_filters %}

{% block mtitle %}登入{% endblock %}

{% block content %}
<div style="max-width: 400px; margin-left: auto; margin-right: auto;">
  <h2 class="page-header">登入</h2>
  <form method="post" action="{% url 'login' %}" role="form">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username|bs_form_control }}
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password|bs_form_control }}
    </div>
    {% if form.errors %}<p class="text-danger">Invalid username or password.</p>{% endif %}
    <input type="submit" value="登入" class="btn btn-default">
  </form>
</div>
{% endblock %}
