{% extends "accounts/base.html" %}

{% block mtitle %}User List{% endblock %}

{% block accounts_content %}
<table class="table table-striped">
  <tr>
    <th>使用者名稱</th>
    <th>Group</th>
    {% if perms.accounts.view_email %}<th>Email</th>{% endif %}
    {% if perms.accounts.view_last_login %}<th>上次登入</th>{% endif %}
    <th>加入日期</th>
  </tr>
  {% for each_user in all_users %}
  <tr>
    <td>{{ each_user.profile.html_link }}</td>
    <td class="text-{{ each_user.profile.level_css }}">{{ each_user.profile.level_name }}</td>
    {% if perms.accounts.view_email %}<td>{{ each_user.email }}</td>{% endif %}
    {% if perms.accounts.view_last_login %}<td>{{ each_user.last_login|date:"Y/m/d H:i:s" }}</td>{% endif %}
    <td>{{ each_user.date_joined|date:"Y/m/d" }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
