{% extends "structure.html" %}
{% load static %}
{% load navpath %}
{% load navtools %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img alt="DIT Robotics" src="{% static 'img/dit_title_inverted.png' %}"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        {% navli '/#projects' display='Our Projects' %}
        {% navlir 'message_board' %}
        {% dropdown "Utilities" %}
        {% navlir 'nthucourses:index' display='NTHU Courses' %}
        {% navlir 'drive:index' display='Drive' %}
        {% navlir 'dpcstatus:index' display='3D Printer' %}
        {% enddropdown %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        {% navlir 'profile' user.username display=user.username %}
        <li><a href="{% url 'logout' %}?next={{ request.path|iriencode }}">登出</a></li>
        {% else %}
        {% navlir 'social:begin' backend='facebook' display='註冊 / 登入' %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% block before %}{% endblock %}
<div class="container">
{% block content %}{% endblock %}
</div>
{% block after %}{% endblock %}
{% endblock %}
