{% extends "base.html" %}

{% block style %}
body {padding-top: 0}

nav.navbar {
  margin-bottom: 0!important;
}

#top-carousel,
#top-carousel > div > .item {
  min-height: 100vh;
  height: 100vh;
}
#top-carousel > div > .item {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav.navbar-inverse {
  background-color: rgba(0, 0, 0, .7);
}

.carousel-caption > h3,
.carousel-caption > p {
  text-shadow: 0 0 12px black;
}

#top-carousel .btn-default {
  background-color: transparent;
  color: white;
}

.project-block > .img-circle {
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
  height: 140px;
  width: 140px;
}

.project-block > * {
  margin-left: auto;
  margin-right: auto;
}

.project-block > h2,
.project-block > p {
  text-align: center;
}
{% endblock %}

{% block title %}DIT Robotics{% endblock %}

{% block content %}
<h2 class="page-header">DIT Robotics</h2>
<p>DIT Robotics 成立於 2013 年 11 月，為清大第一個自造者 (maker) 共同創作空間，是由喜愛機器人、想鑽研技術的年輕人組成。</p>
<p>DIT = Do, Improve, Try，我們將秉持動手實作、不斷改進、勇於嘗試的精神迎接挑戰，以期最終能以機器人改變世界。</p>
<p><a target="_blank" href="https://www.facebook.com/DIT.robotics">Facebook Fan Page</a></p>

<h2 id="projects" class="page-header">
  Our Projects
  {% if user.profile.access_level > 1 %}
  <span class="pull-right">
    <a class="btn btn-default" href="{% url 'projects:create' %}">Create Project</a>
  </span>
  {% endif %}
</h2>
<div class="row">
  {% for project in projects %}
  <div class="project-block col-md-4">
    {% if project.cover_photo %}<div class="img-circle" style="background-image: url({{ project.cover_photo_url }})"></div>{% endif %}
    <h2>{{ project.title }}</h2>
    {% if project.outline %}<p>{{ project.outline }}</p>{% endif %}
    <p><a href="{{ project.get_absolute_url }}" class="btn btn-default">Learn more &raquo;</a></p>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block before %}
{% include "carousel.html" %}
{% endblock %}
