{% load bootstrap3 %}
<div class="modal" id="{{ id_suffix }}{{ id|default:"DEFECT_MODAL_ID_UNSET" }}">
  <div class="modal-dialog{% if modal_size %} modal-{{ modal_size }}{% endif %}">
    <form action="{{ formaction|default:"." }}" method="{{ formmethod|default:"post" }}"{% if form_file %} enctype="multipart/form-data"{% endif %}>
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">  
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{ title|default:"DEFECT_MODAL_TITLE_UNSET" }}</h4>
        </div>
        <div class="modal-body">
          {% bootstrap_form form %}
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary">
        </div>
      </div>
    </form>
  </div>
</div>
{% if form.errors %}
<script>
$('#{{ id_suffix }}{{ id }}').modal('show')
</script>
{% endif %}
