{% extends "base.html" %}

{% block mtitle %}About{% endblock %}

{% block content %}
<h2 class="page-header">Dit Robotics</h2>
<p>... some text ...</p>
<p>... some other text ...</p>
<h2 class="page-header">Site</h2>
<p><a target="_blank" href="https://github.com/afg984/dit-robotics-site">GitHub</a> | <a target="_blank" href="https://github.com/afg984/dit-robotics-site/issues">Report Bug</a></p>
<p>Maintainer{{ maintainers|pluralize }}: {% for maintainer in maintainers %}{% if not forloop.first %}, {% endif %}{{ maintainer.profile.html_link }}{% empty %}There are currently none.{% endfor %}</p>
{% endblock %}
