{% extends "structure.html" %}

{% block title %}{{ title }} | Dit Robotics{% endblock %}

{% block body %}
<div id="wrapper">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Dit Robotics</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="{% url 'drive' %}">Drive</a></li>
	<li><a href="{% url 'message_board' %}">Message Board</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="content">
<h1>{% block htitle %}{{ title }}{% endblock %}</h1>
{% block content %}{% endblock %}
</div>
</div>
<footer>
	<p>{% now "Y-m-d H:i" %} <a href="{% url 'home' %}">ditrobotics.tw</a> | Contact Us: <a href="mailto:dit.nthu@gmail.com">dit.nthu@gmail.com</a></p>
</footer>
{% endblock %}
