{% extends "structure.html" %}
{% load static %}
{% load navpath %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><img alt="DIT Robotics" src="{% static 'img/dit_title_inverted.png' %}"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        {% navli 'message_board' %}
        {% navli 'nthucourses:index' display='NTHU Courses' %}
        {% navli 'drive' %}
        {% navli 'dpcstatus:index' display='3D Printer' %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_staff %}<li><a target="_blank" href="{% url "admin:index" %}">Admin</a></li>{% endif %}
        {% if user.is_authenticated %}
        {% navli 'profile' user.username display=user.username %}
        <li><a href="{% url 'logout' %}?next={{ request.path|iriencode }}">Log out</a></li>
        {% else %}
        {% navli 'registration' display='Sign up' %}
        <li{% caiv 'login' %}><a href="{% url 'login' %}?next={{ request.path|iriencode }}">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<div class="container">
{% block content %}{% endblock %}
</div>
{% endblock %}
