{% extends "structure.html" %}

{% block title %}{{ title }} | Dit Robotics{% endblock %}

{% block body %}
<div id="wrapper">
<nav>
	<ul>
		<li><a href="{% url 'home' %}">Dit Robotics</a></li>
		<li><a href="{% url 'drive' %}">Drive</a></li>
	</ul>
</nav>
<div id="content">
<h1>{% block htitle %}{{ title }}{% endblock %}</h1>
{% block content %}{% endblock %}
</div>
</div>
<footer>
	<p>{% now "Y-m-d H:i" %} <a href="{% url 'home' %}">ditrobotics.tw</a> | Contact Us: <a href="mailto:dit.nthu@gmail.com">dit.nthu@gmail.com</a></p>
</footer>
{% endblock %}
