{% extends "base.html" %}
{% load bs_filters %}

{% block mtitle %}Sign up{% endblock %}

{% block content %}
<div class="page-header"><h1>Sign up</h1></div>
<form role="form" action="." method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.username.label_tag }}
    {{ form.username.errors }}
    {{ form.username|bs_form_control }}
  </div>
  <div class="form-group">
    {{ form.password1.label_tag }}
    {{ form.password1.errors }}
    {{ form.password1|bs_form_control }}
  </div>
  <div class="form-group">
    {{ form.password2.label_tag }}
    {{ form.password2.errors }}
    {{ form.password2|bs_form_control }}
  </div>
  {{ email_form.as_bs }}
  <input type="submit" class="btn btn-default">
</form>
{% endblock %}
