{% extends "base.html" %}

{% block mtitle %}User List{% endblock %}

{% block content %}
<div class="page-header"><h1>User List</h1></div>
<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Group</th>
    {% if perms.accounts.view_email %}<th>Email</th>{% endif %}
    {% if perms.accounts.view_last_login %}<th>Last Login</th>{% endif %}
    <th>Date Joined</th>
  </tr>
  {% for each_user in all_users %}
  <tr>
    <td>{{ each_user.profile.html_link }}</td>
    <td class="text-{{ each_user.profile.level_css }}">{{ each_user.profile.level_name }}</td>
    {% if perms.accounts.view_email %}<td>{{ each_user.email }}</td>{% endif %}
    {% if perms.accounts.view_last_login %}<td>{{ each_user.last_login|date:"Y/m/d H:i:s" }}</td>{% endif %}
    <td>{{ each_user.date_joined|date:"Y/m/d" }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
