{% extends "base.html" %}

{% block content %}
<p class="warning">This message board is still testing!</p>
<form method="post" action=".">
	<table>
		{% csrf_token %}
		{{ form }}
		<tr><td></td><td><input type="submit"></td></td></tr>
	</table>
</form>

<h2>Messages</h2>
<table class="messages">
	<tr><th>Nickname</th><th class="message">Message</th><th>Submission Time</th>
	{% for message in messages %}
	<tr>
		<td>{{ message.nickname }}</td>
		<td class="message">{{ message.message }}</td>
		<td>{{ message.created_at|date:"Y-m-d H:i" }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
