{% extends "base.html" %}

{% block mtitle %}Message Board{% endblock %}

{% block content %}
<h3 class="page-header">Submit a Message</h3>
<form method="post" action="." role="form">
  {% csrf_token %}
  {{ form.as_bs }}
  <input type="submit" class="btn btn-default">
</form>

<h3 class="page-header">Messages</h3>
{% for message in messages %}
<blockquote>
  <p>{{ message.message }}</p>
  <footer>{{ message.user.profile.html_link|default:message.nickname }} at {{ message.created_at|date:"Y-m-d H:i" }}</footer>
</blockquote>
{% endfor %}
{% endblock %}
