{% extends "base.html" %}
{% load markdown %}

{% block content %}
<h2 class="page-header">
  {{ project.title }}
  <span class="pull-right">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#projectModal">編輯</button>
  </span>
</h2>
<div class="row">
  <div class="col-md-4">
    <p>{{ project.cover_photo }}</p>
  </div>
  <div class="col-md-4">
    <h3>Introduction</h3>
    <p>{{ project.intro|default:"None." }}
  </div>
  <div class="col-md-4">
    <h3>Members</h3>
    <ul class="list-inline">
      {% for member in project.members.all %}
      <li>{{ member.profile.html_link }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-12">
    <hr>
    {{ project.content|markdown }}
  </div>
</div>
{% include "modal-form.html" with title="編輯" id="projectModal" modal_size="lg" form_file=True %}
{% endblock %}
