{% extends "base.html" %}
{% load markdown %}

{% block mtitle %}{{ project.title }}{% endblock %}

{% block content %}
<h2 class="page-header">
  {{ project.title }}
  {% if user.profile.access_level > 1 %}
  {% if project.outline %}<small>{{ project.outline }}</small>{% endif %}
  <span class="pull-right">
    {% if request.user.profile.access_level >= 3 %}<a href="{% url "projects:delete" pk=project.pk %}" class="btn btn-default">Delete</a>{% endif %}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#projectModal">Edit</button>
  </span>
  {% endif %}
</h2>
<div class="row">
  {% if project.cover_photo %}
  <div class="col-md-7">
    <img src="{{ project.cover_photo_url }}" alt="{{ project }} cover photo" class="img-responsive">
  </div>
  {% endif %}
  <div class="col-md-4">
    <p><span style="font-size:130%">Members:</span></p>
    <ul class="list-inline">
      {% for member in project.members.all %}
      <li>{{ member.profile.html_link }}</li>
      {% empty %}
      <li>None.</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-12">
    <hr>
    {{ project.content|markdown }}
  </div>
</div>
{% include "modal-form.html" with title="Edit Project" id="projectModal" modal_size="lg" form_file=True %}
{% endblock %}
