@import url(http://fonts.googleapis.com/css?family=Cousine);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
body, input, select {font-family: "Lato", sans-serif;}
h1, h2, h3, nav {font-family: "Roboto Slab", sans-serif;}
code, pre, .monospaced {font-family: "Cousine", monospace;}
