@import url(http://fonts.googleapis.com/css?family=Cousine);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
body, input, select {font-family: "Lato", sans-serif;}
h1, h2, h3, nav {font-family: "Roboto Slab", sans-serif;}
code, pre, .monospaced {font-family: "Cousine", monospace;}

body {padding-top: 50px; padding-bottom: 20px;}
nav {font-size:16px; border: 0 !important;}
.navbar-brand img {height: 25px;}

.inline {display: inline;}
.nodec {border: 0; margin: 0; padding:0;}
.pre-ws {white-space: pre-wrap;}
.no-gradient {background-image:none; background-repeat: no-repeat; filter:none;}
