{% extends 'base.html' %}

{% block mtitle %}3D Printer Status{% endblock %}

{% block content %}
<h2 class="page-header">3D Printer Status</h2>
{% if ERROR %}
<p class="text-danger">Error occurred while obtaining printer status.</p>
<h3>Traceback</h3>
<pre>
{{ ERROR }}
</pre>
{% else %}
<p>{% for c in STATUS.0.message %}{% if c == '|' %}</p><p>{% else %}{{ c }}{% endif %}{% endfor %}</p>
<h3>Log</h3>
<div class="well no-gradient monospaced">
  <table>
    {% for stdout in STDOUT %}
    <tr>
      <td style="padding-right:10px;">{{ stdout.time }}</td>
      <td>{{ stdout.message }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<h3>Exceptions</h3>
<div class="well no-gradient monospaced">
  <table>
  {% for exception in EXCEPTION %}
    <tr>
      <td>{{ exception.time }}</td>
      <td>{{ exception.message }}</td>
    </tr>
    {% empty %}
    <tr><td>None.</td></tr>
    {% endfor %}
  </table>
</div>
{% endif %}
{% endblock %}
