{% extends 'base.html' %}

{% block mtitle %}3D Printer Status{% endblock %}

{% block content %}
<h2 class="page-header">3D Printer Status</h2>
{% if ERROR %}
<p class="text-danger">Error occurred while obtaining printer status.</p>
<h3>Traceback</h3>
<pre>
{{ ERROR }}
</pre>
{% else %}
<p>{% for c in STATUS.0.message %}{% if c == '|' %}</p><p>{% else %}{{ c }}{% endif %}{% endfor %}</p>
<h3>Log</h3>
<pre>
  {% for stdout in STDOUT %}{{ stdout.time }} {{ stdout.message }}
  {% endfor %}
</pre>
<h3>Exceptions</h3>
<pre>
  {% for exception in EXCEPTION %}{{ exception.time }}
  {{ exception.message }}
  {% endfor %}
</pre>
{% endif %}
{% endblock %}
